// COLORS
$color-primary:#ff4e50;
$color-secondary:seagreen;
$color-grey-dark: #444;
$color-grey: #777;
$color-grey-light: silver;

$color-white: #fff;
$color-black: #000;

//FONT
$default-font-size: 1.6rem;

//LINE
$line: 1px solid $color-grey-light;

// //BREAKPOINTS
// //  1200px / 16 = 75
// $bp-largest: 75em;

// //  1100px / 16 = 68.75
// $bp-large: 68.75em;

// //  900px / 16 = 56.25
// $bp-medium: 56.25em;

// //  600px / 16 = 37.5
// $bp-small: 37.5em;

// //  500px / 16 = 31.25
// $bp-smallest: 31.25em;