/*SLICK SLIDER*/

.slider {
    width: 50%;
    margin: 100px auto;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
    width: 70%;

  @media only screen and (min-width: 400px) {
    width: 35%;
    margin-left: 2em;
  }
  @media only screen and (min-width: 900px) {
    width: 25%;
    margin-left: 2em;
  }
  @media only screen and (min-width: 1200px) {
    width: 15%;
    margin-left: 2em;
  }
}

.slick-prev:before,
.slick-next:before {
  color: black;
}
.slick-slide {
  transition: all ease-in-out .2s;
  opacity: .2;
}

.slick-active {
  opacity: .5;
}
.slick-current {
  opacity: 1;
}

.slick-prev {
  left: 50px;
  z-index: 9;

  &:before {
    // content: '<';
    content: url(../img/icon/back.svg);
  }
}

.slick-next {
  right: 50px;

  &:before {
    content: '>';
    content: url(../img/icon/next.svg);
  }
}


.user-reviews {
    display: flex;
    justify-content: center;
}

.review {
    position: relative;
    background: rgba(rgb(255, 255, 255), .9);
    // width: 86%;
    box-shadow: 0 2rem 6rem rgba(0,0,0,.3);
    padding: 0 5rem 5rem 5rem;
    margin-bottom: 3.5rem;
    margin-top: 20rem;
    
    &__image-box {
        // background-color: blueviolet;
        margin-bottom: 5rem;
        
        display: flex;
        align-items:center;
        justify-content: center; 
    }

    &__chat {
        width: 3em;
        height: 3em;
        border-radius: 50%;
        border: .8rem solid #fff;
        background-color: #ff4e50;
        margin-left: -3rem;
        margin-bottom: -8rem;
    }

    &__circle {
        // display: inline-block;
        vertical-align: bottom;
        @media only screen and (min-width: 900px) {
            vertical-align: middle;
        }
    }

    &__photo {
        border-radius: 50%;
        @media only screen and (min-width: 900px) {
            
        }
    }

    &__user {
        margin-top: -10rem;
        // margin-top: -40%;
    }

    // &__user-box {
    //     margin-right: auto;
    // }

    &__user-name {
        font-size: 4rem;
        font-weight: 600;
        color: $color-grey-dark;
        margin-bottom: .4rem;
    }

    &__text {
        color: $color-grey-light;
        font-style: italic;
        font-size: 3.5rem;

        &::before {
            content: open-quote;
        }
        &::after {
            content: close-quote;
        }
          
    }
}

			 /* Make the image fully responsive */
			//  .carousel-inner img {
			// 	width: 100%;
			// 	height: 100%;
			//   }

.profil {
    position:absolute;
    top: 50%;
    left:50%;
    z-index: 1;
    transform: translate(-50%, -50%);
}

